 <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      
  <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <div class="closemenu" closemenu></div>
      
      <span class="mdl-layout-title" ng-if="$ctrl.page.preprocess">Построение фигуры</span>
      <span class="mdl-layout-title" ng-if="$ctrl.page.process">Расчет компонент</span>
      
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  
  <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    
    <header class="demo-drawer-header">
      <div class="demo-avatar-dropdown">
        
        <span>Главное меню</span>

        <div class="mdl-layout-spacer"></div>
       
        <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons" role="presentation">arrow_drop_down</i>
          <span class="visuallyhidden">Accounts</span>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
          <li class="mdl-menu__item new-project" ng-click="$ctrl.newProject()">
          	<i class="Tiny-my material-icons">mode_edit</i>Новый
			<span class="key">Ctrl+N</span>
          </li>
          <li class="mdl-menu__item open-project" ng-click="$ctrl.openProject()">
          	Открыть проект
			<span class="key">Ctrl+O</span>
          </li>
          <li class="mdl-menu__item save-project" ng-click="$ctrl.saveProject()">
          	Сохранить проект
			<span class="key">Ctrl+S</span>
          </li>
          <li class="mdl-menu__item" ng-click="$ctrl.appQuit()">Выход</li>
          
        </ul>

      </div>
    </header>
   
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">

    	<div class="row" ng-if="!$ctrl.storage.start">
    	    <div class="col s12">
    	    	<p><b>Растяжение — сжатие</b> — в сопротивлении материалов — вид продольной деформации стержня или бруса,
    	    	 возникающий в том случае, если нагрузка к нему прикладывается по его продольной оси (равнодействующая сил, 
    	    	 	воздействующих на него, нормальна поперечному сечению стержня и проходит через его центр масс).</p>

    	    	 <p>Эпюрой продольной силы называется график распределения продольной силы вдоль от бруса.
    	    	 Ось эпюры параллельна продольной оси. Нулевая линия проводится тонкой линией. 
    	    	 Значения чисел откладывают от оси, положительные - вверх, отрицательные вниз.</p>
    	   	</div>
    	</div>
    		
    	<!-- параметры стержней -->
    	<option-list ng-repeat="option in $ctrl.storage.structure.item track by $index" 
    				 index="$index"
    				 storage="$ctrl.storage"
    				 structure="$ctrl.storage.structure"></option-list>
		
		<!-- силы в узлах -->
    	<power-list  ng-repeat="option in $ctrl.getNumberEdge() track by $index" 
    				 index="$index"
    				 storage="$ctrl.storage"
    				 structure="$ctrl.storage.structure"></power-list>

    </nav>
  </div>

  <main class="mdl-layout__content mdl-color--grey-100" ng-class="{'active-first-element' : $ctrl.storage.start}">
  	<div id="outer" ng-if="$ctrl.page.preprocess">
  	    
        <div id="graphs" ng-if="!$ctrl.storage.start">
    			<a class="createElement btn-floating btn-large waves-effect waves-light red" data-activates='dropdown' dropdown>
    				<i class="material-icons">add</i>
    			</a>

    			<ul id='dropdown' class='dropdown-content'>
    		    	<li><a class="addBlock" href="#!" ng-click="$ctrl.addKernelBlock()">Добавить стержень</a></li>
    		  </ul>    		  
  	    </div>
        

        <div id="graphs" ng-if="$ctrl.storage.start">
		  
		  <input id="zoomer" type ="range" min ="5.0" max="10.0" step ="1.0" value ="10" ng-model="$ctrl.storage.ye" />

          <kernel ng-repeat="kernel in $ctrl.storage.structure.item track by $index" 
          		  index="$index" 
          		  structure="$ctrl.storage.structure.item"
          		  storage="$ctrl.storage"></kernel>
        </div>

  	</div>

  	<div id="outer" ng-if="$ctrl.page.process">
		<div class="page-process">
			Процесс
		</div>
  	</div>

  </main>

  <a target="_blank" id="view-source1" class="waves-effect waves-light btn">Фигура</a>

  <a target="_blank" 
  	 id="view-source2" class="waves-effect waves-light btn" 
  	 ng-click="(!$ctrl.storage.structure.leftSealing || !$ctrl.storage.structure.rightSealing) ? '': $ctrl.pageProcess() "
  	 ng-class="{ 'diactivate' : !$ctrl.storage.structure.leftSealing || !$ctrl.storage.structure.rightSealing ? 1:0}">Расчеты</a>

  <a target="_blank" id="view-source3" class="waves-effect waves-light btn diactivate">Графики</a>

</div>