<ul class="collapsible" data-collapsible="accordion" collapsible 
    ng-if="$ctrl.structure.item[$ctrl.index].q || $ctrl.structure.item[$ctrl.index-1].q || $ctrl.storage.structure.F[$ctrl.index]">

    <li>
        
        <div class="collapsible-header active">
         <i class="Tiny material-icons clearfix">compare_arrows</i>
         <p> параметры узла ({{$ctrl.index + 1}})</p>
        </div>
        
        <div class="collapsible-body">

            <div class="row">
                <div class="col s4">

                    <div ng-if="!$ctrl.structure.item[$ctrl.index].q && !$ctrl.structure.item[$ctrl.index-1].q">
                         <input placeholder="0"
                                type="number"
                                value="0"
                                disabled="disabled"
                                class="validate Lchange">

                         <label>q (Н/м)</label>
                    </div>

                    <div ng-if="$ctrl.structure.item[$ctrl.index-1].q">
                         <input placeholder="30"
                                type="number"
                                ng-model="$ctrl.structure.item[$ctrl.index-1].q"
                                value="{{$ctrl.structure.item[$ctrl.index-1].q}}"
                                class="validate Lchange">

                         <label>q (Н/м)</label>
                    </div>

                    <div ng-if="$ctrl.structure.item[$ctrl.index].q">
                         <input placeholder="30"
                                type="number"
                                ng-model="$ctrl.structure.item[$ctrl.index].q"
                                value="{{$ctrl.structure.item[$ctrl.index].q}}"
                                class="validate Lchange">

                         <label>q (Н/м)</label>
                    </div>

                </div>

                <div class="col s2">
                    <div ng-if="$ctrl.structure.item[$ctrl.index-1].q">
                         <input placeholder="3q"
                                type="text" 
                                value="{{ $ctrl.Math.abs($ctrl.structure.item[$ctrl.index-1].q / $ctrl.storage.kq) }}q"
                                disabled="disabled" 
                                class="validate Lchange">

                         <label>kq</label>
                    </div>

                    <div ng-if="$ctrl.structure.item[$ctrl.index].q">
                         <input placeholder="3q"
                                type="text" 
                                value="{{ $ctrl.Math.abs($ctrl.structure.item[$ctrl.index].q / $ctrl.storage.kq) }}q"
                                disabled="disabled" 
                                class="validate Lchange">

                         <label>kq</label>
                    </div>

                </div>

                <div class="col s4">

                    <div class="">
                         <input placeholder="300"  
                                type="number"
                                ng-model="$ctrl.storage.structure.F[$ctrl.index]"
                                value="{{$ctrl.storage.structure.F[$ctrl.index] || 0}}"
                                class="validate Achange">

                         <label>F (Н)</label>
                    </div>

                </div>

                <div class="col s2">
                    <div class="">
                         <input placeholder="3F"
                                type="text" 
                                value="{{ $ctrl.Math.abs($ctrl.storage.structure.F[$ctrl.index] / $ctrl.storage.kF) || 0 }}F"
                                disabled="disabled" 
                                class="validate Lchange">

                         <label>kF</label>
                    </div>

                </div>
              
            </div>


        </div>

      </li>
  </ul>