<div class="block idblock-{{$ctrl.index}}" 
     style="
        height: {{ $ctrl.storage.minimal ? 1 : (($ctrl.structure[$ctrl.index].A / $ctrl.structure[$ctrl.index].L) * $ctrl.storage.ye) }}px;
        width: {{ $ctrl.structure[$ctrl.index].L * $ctrl.storage.ye }}px;
     "
     ng-class="{ 'arrow' : $ctrl.structure[$ctrl.index].q !== false ? 1 : 0, 'rotate' : $ctrl.structure[$ctrl.index].q < 0 ? 1:0 }">

	<div class="nameing">{{$ctrl.index+1}}
    <div class="before">{{$ctrl.structure[$ctrl.index].L / $ctrl.storage.base.L}}L</div>
    <div class="after">{{$ctrl.structure[$ctrl.index].A / $ctrl.storage.base.A}}A</div>
  </div>

  <div class="nameing-bottom">
    <div class="before" ng-if="$ctrl.storage.structure.F[$ctrl.index]">{{ $ctrl.Math.abs($ctrl.storage.structure.F[$ctrl.index] / $ctrl.storage.kF) }}F</div>
    <div class="after" ng-if="$ctrl.structure[$ctrl.index].q">{{ $ctrl.Math.abs($ctrl.structure[$ctrl.index].q / $ctrl.storage.kq) }}q</div>
  </div>
	
	<div class="block-btn addRight" data-activates='dropdown-right-{{$ctrl.index}}' dropdown>+</div>
	<div class="block-btn addLeft" data-activates='dropdown-left-{{$ctrl.index}}' dropdown>+</div>
	<div class="block-btn addCenter" data-activates='dropdown-center-{{$ctrl.index}}' dropdown>+</div>

  <div class="edge edgeLeft">{{$ctrl.index+1}}</div>
  <div class="edge edgeRight">{{$ctrl.index+2}}</div>

  <div class="rightPower" ng-if="$ctrl.storage.structure.F[$ctrl.index] !== null && $ctrl.storage.structure.F[$ctrl.index] > 0"></div>
  <div class="leftPower" ng-if="$ctrl.storage.structure.F[$ctrl.index+1] !== null && $ctrl.storage.structure.F[$ctrl.index+1] < 0"></div>

	<div ng-if="(($ctrl.index+1) == 1)" class="sealingLeft" 
       ng-class="{ 'show-block' :  $ctrl.storage.structure.leftSealing?1:0 }" 
       style="transform: rotateY(180deg);"></div>

	<div ng-if="(($ctrl.index+1) == $ctrl.structure.length)" 
       class="sealingRight" 
       ng-class="{ 'show-block' :  $ctrl.storage.structure.rightSealing?1:0 }"></div>
	
	<ul id='dropdown-right-{{$ctrl.index}}' class='dropdown-content'>
    	<li ng-click="$ctrl.addKernelBlock($ctrl.index)">
    		<a class="addBlockToRight" ref="#!">Добавить стержень</a>
    		<div class="divider"></div>
    	</li>

    	<li ng-if="($ctrl.index+1) == $ctrl.structure.length && !$ctrl.storage.structure.rightSealing" ng-click="$ctrl.addSealingRight()">
    		<a class="sealing addSealingRight" href="#!">Добавить заделку</a>
    		<div class="divider"></div>
    	</li>

      <li ng-if="($ctrl.index+1) == $ctrl.structure.length && $ctrl.storage.structure.rightSealing" ng-click="$ctrl.removeSealingRight()">
        <a class="sealing addSealingRight" href="#!">Удалить заделку</a>
        <div class="divider"></div>
      </li>

    	<li ng-if="!(($ctrl.index+1) == $ctrl.structure.length) && !$ctrl.storage.structure.F[$ctrl.index+1]" ng-click="$ctrl.addPowerF($ctrl.index+1)">
    		<a class="" href="#!">Добавить усилие (F) вправо от узла </a>
    	</li>

      <li ng-if="$ctrl.storage.structure.F[$ctrl.index+1]" ng-click="$ctrl.removePowerF($ctrl.index+1)">
        <a class="" href="#!">Удалить усилие (F) </a>
      </li>

  	</ul>
	
	  <ul id='dropdown-left-{{$ctrl.index}}' class='dropdown-content'>
    	<li ng-if="($ctrl.index+1 == 1) && !$ctrl.storage.structure.leftSealing" ng-click="$ctrl.addSealingLeft()">
    		<a class="sealing addSealingLeft" href="#!">Добавить заделку</a>
    		<div class="divider"></div>
    	</li>

      <li ng-if="($ctrl.index+1 == 1) && $ctrl.storage.structure.leftSealing" ng-click="$ctrl.removeSealingLeft()">
        <a class="sealing addSealingLeft" href="#!">Удалить заделку</a>
        <div class="divider"></div>
      </li>

    	<li ng-if="!(($ctrl.index+1) == 1) && !$ctrl.storage.structure.F[$ctrl.index]" ng-click="$ctrl.addPowerLeftF($ctrl.index)">
    		<a class="" href="#!">Добавить усилие (F) влево от узла</a>
    	</li>

      <li ng-if="$ctrl.storage.structure.F[$ctrl.index]" ng-click="$ctrl.removePowerF($ctrl.index)">
        <a class="" href="#!">Удалить усилие (F)</a>
      </li>

  	</ul>

		<ul id='dropdown-center-{{$ctrl.index}}' class='dropdown-content'>
	    	<li ng-click="$ctrl.addPowerQ($ctrl.index)" ng-if="$ctrl.structure[$ctrl.index].q === false">
	    		<a class="" href="#!">Добавить нагрузку (q)</a>
	    	</li>

        <li ng-click="$ctrl.removePowerQ($ctrl.index)" ng-if="$ctrl.structure[$ctrl.index].q !== false">
          <a class="" href="#!">Удалить нагрузку (q)</a>
        </li>

        <li ng-click="$ctrl.changePowerQ($ctrl.index)" ng-if="$ctrl.structure[$ctrl.index].q !== false">
          <a class="" href="#!">Изменить направление нагрузки (q)</a>
        </li>

        <li ng-click="$ctrl.removeKernelBlock($ctrl.index)">
          <a class="" href="#!">Удалить стержень</a>
        </li>

	  	</ul>
	
</div>