<div id="graphs">
<div ng-repeat="kernel in $ctrl.storage.structure.item track by $index">

  <div class="block idblock-{{$index}}" 
       style="
          height: {{ $ctrl.storage.minimal ? 1 : (($ctrl.storage.structure.item[$index].A / $ctrl.storage.structure.item[$index].L) * $ctrl.storage.ye) }}px;
          width: {{ $ctrl.storage.structure.item[$index].L * $ctrl.storage.ye }}px;
       "
       ng-class="{ 'arrow' : $ctrl.storage.structure.item[$index].q !== false ? 1 : 0, 'rotate' : $ctrl.storage.structure.item[$index].q < 0 ? 1:0 }">


 <!--    <div class="nameing">{{$index+1}}
   <div class="before">{{$ctrl.storage.structure.item[$index].L / $ctrl.storage.base.L}}L</div>
   <div class="after">{{$ctrl.storage.structure.item[$index].A / $ctrl.storage.base.A}}A</div>
 </div>
 
 <div class="nameing-bottom">
   <div class="before" ng-if="$ctrl.storage.structure.F[$index]">{{ $ctrl.Math.abs($ctrl.storage.structure.F[$index] / $ctrl.storage.kF) }}F</div>
   <div class="after" ng-if="$ctrl.storage.structure.item[$index].q">{{ $ctrl.Math.abs($ctrl.storage.structure.item[$index].q / $ctrl.storage.kq) }}q</div>
 </div>
  -->
    <div class="edge edgeLeft">{{$index+1}}</div>
    <div class="edge edgeRight">{{$index+2}}</div>

    <div class="rightPower" ng-if="$ctrl.storage.structure.F[$index] !== null && $ctrl.storage.structure.F[$index] > 0"></div>
    <div class="leftPower" ng-if="$ctrl.storage.structure.F[$index+1] !== null && $ctrl.storage.structure.F[$index+1] < 0"></div>

    <div ng-if="(($index+1) == 1)" class="sealingLeft" 
         ng-class="{ 'show-block' :  $ctrl.storage.structure.leftSealing?1:0 }" 
         style="transform: rotateY(180deg);"></div>

    <div ng-if="(($index+1) == $ctrl.storage.structure.item.length)" 
         class="sealingRight" 
         ng-class="{ 'show-block' :  $ctrl.storage.structure.rightSealing?1:0 }"></div>
    
  </div>


</div>


</div>


<div id="graphs" style="margin-top: {{ $ctrl.bigHeight() * $ctrl.storage.ye / 3}}px; height: {{ ($ctrl.bigAbsNx() + 5) * 2 * 10 }}px;">
  <div class="block" ng-repeat="nx in $ctrl.localStorage.itemNx track by $index"
    style="
       height: {{ ($ctrl.bigAbsNx() + 5) * 2 * 10 }}px;
       width: {{ $ctrl.storage.structure.item[$index].L * $ctrl.storage.ye }}px;
       background: none;
       border: none;
    "
  >


  <svg height="{{ ($ctrl.bigAbsNx() + 5) * 2 * 10 }}" width="100%" style="
        border: 1px dotted #000;
        border-top: none;
        border-bottom: 0;
      ">

    <text ng-if="$index == 0" x="5" y="{{ ((($ctrl.bigAbsNx() + 5) * 2 * 10 ) / 2) + 15 }}" 
          fill="#000">Nx</text>
    
    <text x="5" y="{{ (((($ctrl.bigAbsNx()+5)*2*10)/2)  + $ctrl.localStorage.itemNx[$index][0] * 10 * (-1)) - 15}}" 
          fill="#000">{{ 

            ($ctrl.abs($ctrl.ceil($ctrl.localStorage.itemNx[$index][0])) != 0) ?
            $ctrl.abs($ctrl.ceil($ctrl.localStorage.itemNx[$index][0])) :
            ''
          }}</text>

    <line
      x1="0" 
      y1="{{ ($ctrl.bigAbsNx() + 5) * 2 * 10 / 2 }}" 
      
      x2="100%" 
      y2="{{ ($ctrl.bigAbsNx() + 5) * 2 * 10 / 2 }}" 
      
      style="stroke:rgba(0,0,0, 0.8);stroke-width:2" />
      
      <line
        x1="0" 
        y1="{{ ((($ctrl.bigAbsNx()+5)*2*10)/2)  + $ctrl.localStorage.itemNx[$index][0] * 10 * (-1)}}" 
        
        x2="100%" 
        y2="{{((($ctrl.bigAbsNx()+5)*2*10)/2)  + $ctrl.localStorage.itemNx[$index][1] * 10 * (-1)}}"
        
        style="stroke:rgba(0,0,0, 1);stroke-width:1" />

    
  </div>
</div>